In [55]:
print("hello world")

hello world

In [56]:
print("ario bebek")

ario bebek

In [57]:
type (3)

int

In [58]:
type(3.76)

float

In [59]:
a = 3
b = 2
c = a*b

print (a)
print (b)
print (c)

3
2
6

In [60]:
type (a*b)

int

In [61]:
variabel_1 = 74
variabel_2 = 69

print(variabel_1)

74

In [62]:
variabel_1*variabel_2

5106

In [63]:
type (variabel_1*variabel_2)

int

In [64]:
kamu = "ayam"

In [65]:
print(kamu)

ayam

In [66]:
type ("UI 2")

str

In [67]:
Nama = "Jack"
Umur = 8 
Kalimat = "Nama saya %s,umur saya %d" % (Nama,Umur)

In [68]:
print(Kalimat)

Nama saya Jack,umur saya 8

In [69]:
s = "DYAKSO"

print(s.capitalize())

Dyakso

In [70]:
print(s.lower())

dyakso

In [71]:
print(s.swapcase())

dyakso

In [72]:
print(s.title())

Dyakso

In [73]:
print(s.upper())

DYAKSO

In [93]:
p = 7
l = 3 
print(p*l)

21

In [94]:
Luas = 21

In [107]:
kalimat = "Luas persegi panjang dengan panjang 7 cm dan lebar 3 cm adalah %d cm" % (Luas)

In [108]:
print(kalimat)

Luas persegi panjang dengan panjang 7 cm dan lebar 3 cm adalah 10 cm

In [109]:
a = 7
t = 3
print(a*t/2)

10.5

In [98]:
Luas = 10.5

In [110]:
kalimat = "Luas segitiga dengan tinggi 7 cm dan alas 3 cm adalah %d cm" % (Luas)

In [111]:
print(kalimat)

Luas segitiga dengan tinggi 7 cm dan alas 3 cm adalah 10 cm

In [113]:
bool_1 = True 
bool_2 = False
print(bool_1+bool_1)

2

In [115]:
print(bool_1 and bool_2)

False