In [16]:
print("hello world")

hello world

In [17]:
print("ario bebek")

ario bebek

In [18]:
type (3)

int

In [19]:
type(3.76)

float

In [20]:
a = 3
b = 2
c = a*b

print (a)
print (b)
print (c)

3
2
6

In [21]:
type (a*b)

int

In [22]:
variabel_1 = 74
variabel_2 = 69

print(variabel_1)

74

In [23]:
variabel_1*variabel_2

5106

In [26]:
type (variabel_1*variabel_2)

int

In [ ]:
kamu = ayam

In [28]:
print(nama, ayam)

NameError: name 'nama' is not defined

In [30]:
type ("UI 2")

str

In [41]:
Nama = "Jack"
Umur = 8 
Kalimat = "Nama saya %s,umur saya %d" % (Nama,Umur)

In [42]:
print(Kalimat)

Nama saya Jack,umur saya 8